body{
  color: white;
  font-family: sans-serif;
  background-color: #000;
  background-size: cover;
  background-position: center;
  font-size: 24px;
  width:100%;
  /*padding: 0 10px 10px 10px;*/
  text-align: justify;
}

header {
  text-align: center;
  background-size: cover;
  color: white;
}

main{
  padding: 0 1px 10px 1px;
}

/* NeXT LOGO*/
.N{
  color: red;
}
.e{
  color: yellow;
}
.X{
  color: green;
}
.T{
  color: pink;
}
/* END NeXT LOGO*/

img {
  float: left;
  padding:0px 30px 10px 0px;
  margin: 5px 0px 0px 0px;
}

article {
  max-width: 80%;
  padding: 1px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: 44px;
}
h2 {
  text-align: center;
  font-weight: bold;
}

a {
 letter-spacing: .01em;
 transition: text-shadow .8s;
 text-decoration: none;
 color: white;
}
a:hover{
 text-shadow: 0 0 3.8px #333, 0 0 3.8px #333; 
 text-decoration: none;
 color: green;
}

ul {
  padding: 2px;
  /*background: rgba(0,0,0,0.5);*/
  list-style: none;
}
li {
  display: block;
  padding: 0px 10px 0px 10px;
  text-indent: -0.7em;
  list-style: none;
}
li::before{
  content: "\002022";
  color: #ffffff;
  padding: 0px 0px 0px 10px;
  list-style: none;
}

.ulist {
  float: right;
  font-size: 16px;
  padding: 0px 10px 0px 20px;
  display: block;
  margin: 10px 1px 10px 20px;
  border: 7px solid white;
  border-radius: 20px;
}

.headrr{
  font-size: 20px;
}

/* BEGIN FOOTER */
.footer {
  font-size: small;
  max-width: 80%;
  padding: 2px;
  margin: 0 auto;
}

#footer {
    padding-top:10px;
    margin: 20px 0 0 0 ;
    text-align: center;
    font-size: medium;
}

footer > a{
    font-size: 0.7em;
    text-decoration: none;
}

/* END FOOTER */


.form{
  max-width: 550px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

input {
  text-align: center;
  border: 0;
  padding: 1px;
  font-size: 18px;
}

.btn{
  font-family: sans-serif;
  font-size: 1.1em;
  margin: -3px 10px 10px 10px;
  padding: 0px 8px 0px 8px;
  text-align: center;
  background-color: red;
  color: white;
  text-decoration: none;
  border: 1px solid;
  border-color: #000;
  border-radius: 20px;
}

#email{
  text-align: left;
}

.aboutme{
  font-size: large;
  text-align:justify;
}

#about_me{
  text-align: center;
}

#skills{
  text-align: justify;
}

#form{
  text-align: center; 
}

#atribute{
  font-family: 'Ruthie', cursive;
  font-size:96px;
}

#copy{
  font-size:14px;
}